body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
}

.calendar-container {
    text-align: center;
    color: #333;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

input[type="date"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #a4c6eb;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #92b2d8;
}